{% extends 'base.html' %}

{% block title %}Home | CRM{% endblock %}

{% block content %}
<h2 class="mb-4 text-white">Welcome to CRM System</h2>

<div class="card green-card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Customer Management</h5>
        <p class="card-text">
            Manage leads, customers, and clients efficiently using this CRM system.
        </p>
        <a href="/customers/" class="btn btn-dark">View Customers</a>
    </div>
</div>
{% endblock %}
